{% load staticfiles %}
{% load i18n %}

<html>
    <head>
        <script src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>

        <script src="{% static 'popper.min.js' %}"></script>

        <link rel="stylesheet" href="{% static 'bootstrap/bootstrap-4.3.1-dist/css/bootstrap.min.css' %}">
        <script src="{% static 'bootstrap/bootstrap-4.3.1-dist/js/bootstrap.min.js' %}"></script>
    </head>
    <body>

        {% for message in messages %}
            <div class="alert {% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show mt-2 mb-1 shadow p-3 mb-5 bg-white rounded" role="alert">
                <p><strong>{% if message.tags %}{{ message.tags }}{% endif %}! </strong>{{ message }}</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}



        <form action="{% url 'user:resetpassword:change' security_path %}" method="POST" id="user_resetpassword_change">
            {% csrf_token %}
            {{ form.password }}
            <input type="password" class="form-control" id="confirm_password">
            <p id="password_message"></p>
            <button type="submit" class="btn" id="submit_btn" disabled>{% trans 'Next' %}</button>
        </form>
        <script>
            function enableBtnIfEqual(){
                var password = $('#password').val();
                var confirm_password = $('#confirm_password').val();
                if (password == confirm_password){
                $('#submit_btn').prop('disabled', false).addClass('btn-success').removeClass('btn-danger');
                $('#password_message').text('Password matches').addClass('text-success').removeClass('text-danger');
                }
                else{
                    $('#submit_btn').prop('disabled', true).addClass('btn-danger').removeClass('btn-success');
                    $('#password_message').text('Password Does Not Matches').addClass('text-danger').removeClass('text-success');
                }	
            }
    
    
            $(document).ready(function(){
                $('#password').keyup(function(){
                    enableBtnIfEqual();				
                })
                
                $('#confirm_password').keyup(function(){
                    enableBtnIfEqual();				
                })
            })
        </script>
    </body>
</html>