{% load staticfiles %}
{% load i18n %}

    <html>
        <head>
            <script src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>

            <script src="{% static 'popper.min.js' %}"></script>
        
            <link rel="stylesheet" href="{% static 'bootstrap/bootstrap-4.3.1-dist/css/bootstrap.min.css' %}">
            <script src="{% static 'bootstrap/bootstrap-4.3.1-dist/js/bootstrap.min.js' %}"></script>
               
            <script src="{% static 'scripts/user/validators.js' %}"></script>
        </head>
        <body>


            {% for message in messages %}
                <div class="alert {% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show mt-2 mb-1 shadow p-3 mb-5 bg-white rounded" role="alert">
                    <p><strong>{% if message.tags %}{{ message.tags }}{% endif %}! </strong>{{ message }}</p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}


            <form action="{% url 'user:resetpassword:reset'%}" method="POST" id="user_resetpassword_reset">
                {% csrf_token %}
                {{ form.email }}
                {{ captcha.captcha }}
                <button type="submit" class="btn" id="submit_btn" disabled>{% trans 'Next' %}</button>
            </form>
            <script>    
                    $(document).ready(function(){
                        function responsiveCheckEmail(){
                            var email = checkEmail();
                            if(email){
                                $('#email_status').text('✔').addClass('text-success').removeClass('text-danger');
                                $('#submit_btn').prop('disabled', false).addClass('btn-success').removeClass('btn-danger');
                            }
                            else{
                                $('#email_status').text('×').addClass('text-danger').removeClass('text-success');
                                $('#submit_btn').prop('disabled', true).addClass('btn-danger').removeClass('btn-success');
                            }
                        }
        
                        $('#email').keyup( function(){ responsiveCheckEmail() } );
                        $('#user_resetpassword_reset').click( function(){ responsiveCheckEmail() } );
                        
                    })
                </script>
        


        </body>
    </html>