{% load staticfiles %}
{% load i18n %}

<html>
    <head>
        <script src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>

        <script src="{% static 'popper.min.js' %}"></script>

        <link rel="stylesheet" href="{% static 'bootstrap/bootstrap-4.3.1-dist/css/bootstrap.min.css' %}">
        <script src="{% static 'bootstrap/bootstrap-4.3.1-dist/js/bootstrap.min.js' %}"></script>

    </head>
    <body>

        {% for message in messages %}
            <div class="alert {% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show mt-2 mb-1 shadow p-3 mb-5 bg-white rounded" role="alert">
                <p><strong>{% if message.tags %}{{ message.tags }}{% endif %}! </strong>{{ message }}</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}



        <form action="{% url 'user:login'  %}" method="POST">
            <p class="">Log in</p>
            {% csrf_token %}
            <p class="text-black-50">{% trans 'Email' %}</p>
            {{ form.username }}
            <p class="text-black-50">{% trans 'Password' %}</p>
            {{ form.password }}
            <button type="submit" class="btn btn-success" id="submit_btn">{% trans 'Log in' %}</button>
        </form>
        <div><a href="{% url 'user:resetpassword:reset' %}">Forgot Password</a></div>
        <span class="d-block p-2 bg-dark text-white text-center"><small><a href="{% url 'user:signup' %}">Sign up</a></small></span>
    </body>
</html>