{% load staticfiles %}
{% load i18n %}

<html>
    <head>
        <script src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>

        <script src="{% static 'popper.min.js' %}"></script>

        <link rel="stylesheet" href="{% static 'bootstrap/bootstrap-4.3.1-dist/css/bootstrap.min.css' %}">
        <script src="{% static 'bootstrap/bootstrap-4.3.1-dist/js/bootstrap.min.js' %}"></script>

        <script src="{% static 'scripts/user/validators.js' %}"></script>
    </head>
    <body>

        {% for message in messages %}
            <div class="alert {% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show mt-2 mb-1 shadow p-3 mb-5 bg-white rounded" role="alert">
                <p><strong>{% if message.tags %}{{ message.tags }}{% endif %}! </strong>{{ message }}</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}



        <form action="{% url 'user:signup' %}" method="POST" id="user_signup">
            {% csrf_token %}
            <p>Sign up</p>
            {{ form.email }}<h5 id="email_status"></h5>
            {{ form.password }}<h5 id="password_status"></h5>
            <button type="submit" class="btn" id="submit_btn" disabled>{% trans 'Sign up' %}</button>
        </form>
        <span class="d-block p-2 bg-dark text-white text-center"><small>Alredy have account? Go to <a href="{% url 'user:login' %}">Log in</a></small></span>

        <script>

            $(document).ready(function(){
                function responsiveCheckEmail(){
                    var email = checkEmail();
                    if(email){
                        $('#email_status').text('✔').addClass('text-success').removeClass('text-danger');
                        var password = checkPassword();
                        if (password){
                            $('#submit_btn').prop('disabled', false).addClass('btn-success').removeClass('btn-danger');
                        }
                        else{
                            $('#submit_btn').prop('disabled', true).addClass('btn-danger').removeClass('btn-success');
                        }
                    }
                    else{
                        $('#email_status').text('×').addClass('text-danger').removeClass('text-success');
                        $('#submit_btn').prop('disabled', true).addClass('btn-danger').removeClass('btn-success');
                    }	
                }

                function responsiveCheckPassword(){
                    var password = checkPassword();
                    if(password){
                        $('#password_status').text('✔').addClass('text-success').removeClass('text-danger');
                        var email = checkEmail();
                        if (email){
                            $('#submit_btn').prop('disabled', false).addClass('btn-success').removeClass('btn-danger');
                        }
                        else{
                            $('#submit_btn').prop('disabled', true).addClass('btn-danger').removeClass('btn-success');
                        }
                    }
                    else{
                        $('#password_status').text('×').addClass('text-danger').removeClass('text-success');
                        $('#submit_btn').prop('disabled', true).addClass('btn-danger').removeClass('btn-success');
                    }
                }

                $('#email').keyup( function(){ responsiveCheckEmail() } );
                $('#password').keyup( function(){ responsiveCheckPassword() } );
                $('#user_signup').click( function(){ 
                    responsiveCheckEmail();
                    responsiveCheckPassword();
                    } )

            })
        </script>
    </body>
</html>